html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

/* 1. Daftarkan Nunito ke jantung Tailwind v4 */
@theme {
  --font-sans: var(--font-nunito), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  /* Custom animation for preloader */
  --animate-loading: loading 1.5s ease-in-out infinite;
  @keyframes loading {
    0% { transform: translateX(-100%); width: 100%; }
    50% { transform: translateX(0); width: 50%; }
    100% { transform: translateX(100%); width: 100%; }
  }
}

/* 2. Warna dasar (tetep putih-hitam) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 3. Terapkan font Nunito ke seluruh Body */
@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}